<html>
  <html>
    <head>
      <title>Central Photo</title>
      <meta http-equiv="Refresh" content="1200">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <script src='display.js'></script>
    </head>
    <style>
      .mySlides {
        display: none;
      }
    </style>
    <body>
      <% @photos.each do |i| %>
        <%= "<img class='mySlides' src='#{i.public_url}' style='height:100%; width:100%'>" %>
      <% end %>
    </body>

  </html>
