<div class="w3-card w3-third w3-container w3-display-middle">
<h1 class='agregar'>Agregar Photos</h1>
<form method="post" enctype="multipart/form-data">

  <p>Selecionar foto</p>
  <input type="file" id='files' name="file[]" multiple="multiple" required="required">
  <br>
    <p>
      Cuantos Dias
    </p>
    <div class="loader w3-display-middle w3-hide" id='input_loader'></div>
    <input type='number' name='days' id='days' required="required">
    <p>Numero de pantalla</p>
    <select name='display' id='display'>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
    <span>Todas</span>
    <input type="checkbox" name='todas'>
    <br>
    <br>
    <input type="submit" value="entrar" id='submit_button'>

  
