<div class="w3-card w3-third w3-container w3-display-middle w3-padding-64">
  <h1>
    Iniciar Session
  </h1>
  <form method='post' class='w3-padding-left'>
    <p>Usuario</p>
    <input type="text" name='user' id='user'>
    <p>Contrasena</p>
    <input type='password' name='pass' id='pass'>
    </br>
    </br>
  <input type='submit' value="Entrar" id='entrar'>
  </br>
</form>
</div>
